{#
/**
 * @file
 * Displays a user's storage usage as a labeled progress bar.
 *
 * Available variables:
 * - used_formatted: Human-readable amount of storage used.
 * - quota_formatted: Human-readable storage quota.
 * - percent: Percentage of quota used (0-100).
 * - severity: One of 'normal', 'warning', 'full'.
 */
#}
<div class="vault-extra-storage-usage">
  <div class="vault-extra-storage-usage__label">
    <span>{{ 'Storage used'|t }}</span>
    <span>{{ used_formatted }} / {{ quota_formatted }}</span>
  </div>
  <div class="vault-extra-storage-usage__bar">
    <div class="vault-extra-storage-usage__fill{% if severity == 'warning' %} vault-extra-storage-usage__fill--warning{% elseif severity == 'full' %} vault-extra-storage-usage__fill--full{% endif %}" style="width: {{ percent }}%"></div>
  </div>
</div>
